.donate-section {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paypal-btn {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #0070ba;
    cursor: pointer;
    border: none;
}

@media(max-width:880px) {
    .layout {
        flex-direction: column;
    }

    .left-panel {
        width: 100%;
    }

    .right-panel {
        width: 100%;
    }

    .preview-section {
        height: 50vh;
    }
}